    body {
        width: 100%;
        height: 100%;
        position: absolute;
        background-size: cover;
    }
    
    table {
        width: 100%;
    }
    
    td {
        padding: 2px;
    }
    
    input[type="submit"] {
        width: 100px;
        height: 50px;
        border: 2px solid blue;
        border-radius: 50px;
        background-image: linear-gradient(60deg, darked, white);
    }
    
    input[type="submit"]:hover {
        background-image: linear-gradient(360deg, darkgreen, gray);
    }